* {
    box-sizing: border-box;
}

h1 {
    border: 1px dashed #6E4EE1;
    border-radius: 50px;
    padding: 10px 50px;
    text-align: center;
}

p {
    border: 1px solid #E14D28;
    padding: 20px 20px;
    margin: 15px 70px;
    text-align: center;
}

h2 {
    border: 1px solid #6E4EE1;
    box-shadow: 0px 0px 10px 1px #6e4ee17b;
    border-radius: 20px;
    padding: 10px 50px;
    text-align: center;
}

ol {
    border: 1px solid #E2B18C;
    padding: 20px 50px;
    margin: 15px 70px;
}

li {
    border-bottom: 1px solid #E14D28;
}

h3 {
    border: 8px double #A04FE2;
    border-radius: 15px;
    padding: 10px 50px;
    text-align: center;
}

ul {
    border: 1px solid #E2B18C;
    padding: 20px 50px;
    margin: 15px 70px;
}

